@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #f54f5f;
  --secondary: #2B00A7;
}
body {
  margin: 10;
  padding: 22px;
  justify-content: center;
  font-family: "Verdana";
  background: var(--secondary);
}
* {
  color: #fff9ff;
  margin: 1;
  justify-content: center;
}
p {
  margin: 20px 0;
}
button {
  border: 1;
  padding: 8px;
  border-radius: 6px;
  color: white;
  background: var(--primary);
  cursor: pointer;
  justify-content: center;
}

/* navbar */



header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header nav {
  display: flex;
  gap: 16px;
  justify-content: center; /* Center the navigation items */
  max-width: 100%;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

header nav a {
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
}

header nav a.active {
  background: var(--primary);
}


/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}
/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.help-layout nav a:hover{
  border-color: var(--primary);
}
/* faq */

.faq .question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20 px 0;
}

/* form */
form {
  margin-top: 30px;
}
form input, form label span, form textarea {
  diplay: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}
/* Timer styles */
.timer {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  color: #fff; /* White text color */
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  font-size: 1.5em; /* Larger text */
  font-family: 'Poppins', sans-serif; /* Using Poppins font */
  margin-top: 20px; /* Space above the timer */
  display: inline-block; /* Make the timer a block-level element */
}





/* c details */


/* breadcrumbs */
